{% extends 'base.html.twig' %}

{% block title %}New PFornisseur{% endblock %}

{% block body %}
    
    <style id="savepage-cssvariables">
                body {
                    background-image: url({{ asset('images/back2.png') }} ) !important; 
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                }
                .login-back-left {
                    background:#ffffff00 !important;
                }


    </style>
    {{ include ('inc/navbar.html.twig') }}

    {# <h1>Create new PFornisseur</h1> #}

    {{ include('p_fornisseur/_form.html.twig') }}

    {# <a href="{{ path('p_fornisseur_index') }}">back to list</a> #}
{% endblock %}
